﻿@model QuoteQuiz.Web.Models.BinaryQuestionViewModel
<div id="question-area">
    <h4 id="question-container">
        @Model.Description
    </h4>
    <h4 id="author-container">
        <i>@Model.AuthorToGuess</i>
    </h4>
    <div id="answers-container">
        @foreach (var a in Model.Answers)
        {
            <button id=@a class="binary-button btn btn-default">@a</button>
        }
    </div>
</div>