﻿@model QuoteQuiz.Web.Models.MultipleQuestionViewModel
<div id="question-area">
    <h4 id="question-container">
        @Model.Description
    </h4>
    <div id="answers-container">
        @foreach (var a in Model.Answers)
        {
            <button id=@a.Id class="multiple-button btn btn-default">@a.Text</button>
        }
    </div>
</div>
