﻿@model QuoteQuiz.Web.Models.QuestionResult
<div class="result-container">
    <span>@Model.General</span><span>@Model.Author</span>
</div>
<div class="next-container">
    <div>@Model.Author</div>
</div>
