﻿@model QuoteQuiz.Web.Models.BinaryQuestionViewModel

<div id="boot-tabs" class="container">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#main-page" data-toggle="tab">Main page</a>
        </li>
        <li>
            <a href="#settings-page" data-toggle="tab">Settings</a>
        </li>
    </ul>
    <div class="tab-content clearfix">
        <div class="tab-pane active panel panel-default" id="main-page">
            <div class="panel-body">
                @{ Html.RenderPartial("_binary_partial", Model);}
                <div id="response-area"></div>
                <button id="next-question" class="btn navbar-btn hidden">Next</button>
            </div>
        </div>
        <div class="tab-pane panel panel-default" id="settings-page">
            <div class="panel-body">
                <h4>Select mode:</h4>
                <div>
                    <input id="binary" checked type="radio" name="question-type"><label for="binary">Binary (Yes / No)</label>
                </div>
                <div>
                    <input id="multiple" type="radio" name="question-type"><label for="multiple">Multiple choice</label>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/site")
